aside {
  position: absolute;
  padding: 20px 0 40px;
  display: grid;
  gap: 40px;

  @media (max-width: $media_large) {
    & {
      font-size: 2em;
    }

    img[alt="logo"],
    .links a::after,
    .links a span {
      display: none;
    }
  }

  @media (max-width: $media_xsmall) {
    & {
      font-size: 1.5em;
    }
  }

  .links {
    color: $color_white;
    display: grid;

    a {
      position: relative;
      padding: 20px 40px 30px;

      &.active {
        background-color: $color_blue2 !important;
        color: $color_white !important;
        &::after {
          color: $color_white !important;
        }
      }

      &::before {
        @extend %iconmoon;
        position: absolute;
        bottom: 35px;
        left: 15px;
      }

      &::after {
        position: absolute;
        color: $color_light;
        font-size: 70%;
        font-weight: 400;
        bottom: 15px;
        left: 45px;
      }

      &:nth-child(1) {
        &::before {
          @extend %icon-play;
        }

        &::after {
          content: "Top 200 words";
        }
      }

      &:nth-child(2) {
        &::before {
          @extend %icon-forward;
        }

        &::after {
          content: "Top 1000 words";
        }
      }

      &:nth-child(3) {
        &::before {
          @extend %icon-file-text;
        }

        &::after {
          content: "Practice your own Text";
        }
      }

      @media (max-width: $media_large) {
        & {
          padding: 10px 20px;
        }

        &::before {
          position: relative;
          bottom: 0;
          left: 0;
        }
      }

      @media (max-width: $media_xsmall) {
        & {
          padding: 5px 10px;
        }
      }
    }
  }
}
