.btn-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.btn {
  position: relative;
  color: $color_white;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 40px 10px 20px;
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    background-color: $color_white;
    height: 1px;
    width: 0;
    left: 20px;
    bottom: 10px;
    transition: width $transition_time;
  }

  &:hover::before {
    width: calc(100% - 60px);
  }

  @media (max-width: $media_small) {
    & {
      font-size: 80%;
      padding: 5px 30px 5px 15px;
    }

    &::before {
      left: 15px;
      bottom: 5px;
    }

    &:hover::before {
      width: calc(100% - 45px);
    }
  }

  @media (max-width: $media_xsmall) {
    & {
      width: max-content;
    }
  }
}
