#typing-test {
  @extend %raleway;
  background-color: #bcdcff;
  height: 100vh;
  display: flex;
  aside {
    height: max-content;
    position: static;
    background-color: $color_white;
    padding-top: 50px;
    border-bottom-right-radius: 10px;

    .links a {
      color: $color_black_light;
      font-weight: 600;

      &:not(.active):hover {
        background-color: $color_light2;
      }

      &::after {
        color: $color_black_light;
      }
    }
  }

  main {
    flex: 1;
    align-self: center;
    margin: -200px 50px 0;
  }
}
